* {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);

}
.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.App-logo {
  height: 80px;
  margin: 50px;
}

.vertically{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horizon{
  display: flex;

}
.table {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.line{
  width: 225px;
  display: flex;
  flex-wrap: wrap;
}
.history {
  margin-top: 30px;
  display: flex;
}

.historyItem {
  margin-right: 5px;
  width: 30px;
  display: flex;
  flex-wrap: wrap;
}
.historyCell {
  width: 10px;
  height: 10px;
  font-size: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
}
.cell{
  background-color: rgb(254, 227, 0);
  border: 2px solid rgb(0, 0, 0);
  width: 75px;
  height: 75px;
  cursor: pointer;
  outline: none;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cell:hover{
  background-color: rgb(255, 123, 0);
  transition: 0.3s all ease;
}
.btn {
  width: 200px;
  height: 35px;
  margin-bottom: 25px;
  cursor: pointer;
  outline: none;
  background-color:  rgb(254, 227, 0);
  border: 1px solid  #000000;
  margin-bottom: 0;
  margin-top: 20px;
}
.btn:hover {
  background-color: rgb(255, 123, 0);
  transition: .3s all ease;
}
